@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
hr {
    width: 60px;
    border-color: red;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    width: 100%;
}
#left-side{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#right-side{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
#men-coll {
    background-image: url(http://coleo.themerex.net/wp-content/uploads/2018/01/1-570x518.jpg);
    cursor: pointer;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 535px;
}
#wmen-coll {
    background-image: url(http://coleo.themerex.net/wp-content/uploads/2017/12/cat-2-copyright-1170x514.jpg);
    cursor: pointer;
    background-position: center;
    background-size: cover;
    height: 220px;
    width: 535px;
    margin: 5px;
}
#right-side-top{
    padding: 10px;
}
#right-side-bottom{
    display: flex;
    flex-direction: row;
}
#sm-coll1 {
    background-image:url(http://coleo.themerex.net/wp-content/uploads/2018/01/3_01-570x518.jpg);
    cursor: pointer;
    background-size: cover;
    height: 249px;
    width: 252px;
    margin: 15px;
}


#sm-coll2 {
    background-image: url(http://coleo.themerex.net/wp-content/uploads/2018/01/4-570x518.jpg);
    cursor: pointer;
    background-size: cover;
    height: 249px;
    width: 252px;
    margin: 15px;
}

.pic {
    position: relative;
    overflow: hidden;
}

.spic {
    position: relative;
    overflow: hidden;
}

.stext {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 252px;
    height: 0;
    color: white;
    text-align: center;    
    background: rgba(0, 0, 0, 0.7);
    transition: height 0.5s ease-out;    
}

.text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 535px;
    height: 0;
    color: white;
    text-align: center;    
    background: rgba(0, 0, 0, 0.7);
    transition: height 0.5s ease-out;    
}


.pic:hover > .text {
    height: 50px;
}

.spic:hover > .stext {
    height: 50px;
}

#top_products{
    text-align: center;
}

.tp-title-text{
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    letter-spacing: 1px;
    margin: 5px;
}

.tp-title-text:hover{
    color: red;
}

.active {
    color: red;
}

.tp_body_card{
    opacity: 0;
}

.selected {
    opacity: 1;
}

#tp_body_items{
    text-align: center;
}

#hot_section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.hot_section_item{
    margin: 12px;
    height: 400px;
    width: 260px;
    border: 1px solid black;
}

#onsale_section{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -100px;
}

.onsale_section_item{
    margin: 12px;
    height: 400px;
    width: 260px;
    border: 1px solid black;
}

#productsss {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 1200px;
}

#products {
	width: 1150px;
	height: 550px;
	position: absolute;
	top: 95%;
	left: 51%;
	transform: translate(-50%, -50%);
	margin: 0 auto;	
	background-color: white;
}

.tp-title {
    display: block;
    text-align: center;
    margin-left: -50px;
}

.tp-title:hover {
    color: #e5523e;
}

.tp-price {
    display: block;
    text-align: center;
    color: #e5523e;
    margin-left: -50px;
}

.mask{
    height: 287px;
    width: 238px;
    background: rgba(0, 0, 0, 5);
}
  
.mask img {
    opacity: 1;
    transition: all 0.4s ease-in-out 0s;
}
  
.mask img:hover {
    opacity: 0.3;
}

.icons{
    position: absolute;
    font-size: 20px;
    top: 40%;
    opacity: 0;
}


.mask:hover .icons {
    opacity: 1;    
}

.overlay {
   background: rgba(0,0,0,0.7);
   position: relative;
   height: 100%;
   width: 100%;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   opacity: 0;
   transition: all 0.4s ease-in-out 0s;
}

.container:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .icon:hover {
    color: pink;
  }


